<mat-drawer-container class="w-100-p example-container toolbar">
  <mat-drawer class="w-100-p" #drawer mode="side" opened>

    <mat-toolbar color="primary">
      <mat-toolbar-row>
        <span>{{ title }}</span>
        <span class="example-spacer"></span>
        <button mat-icon-button color="accent" (click)="showFiller = !showFiller;drawer.toggle()">
          <mat-icon>menu</mat-icon>
        </button>
      </mat-toolbar-row>
    </mat-toolbar>

    <ul>
      <li>
        <h3><a rel="noopener" routerLink="/home" >Inicio</a></h3>
      </li>
      <li>
        <h3><a rel="noopener" routerLink="/pipes" >Pipes</a></h3>
      </li>
      <li>
        <h3><a rel="noopener" routerLink="/practices-forms" >Formularios</a></h3>
      </li>
    </ul>
  </mat-drawer>

  <mat-drawer-content >

    <mat-toolbar color="primary">

      <mat-toolbar-row>
        <button *ngIf="showFiller" mat-icon-button color="accent" (click)="showFiller = !showFiller; drawer.toggle()">
          <mat-icon>menu</mat-icon>
        </button>
      </mat-toolbar-row>
    </mat-toolbar>

    <div class="m-16">

      <router-outlet ></router-outlet>
    </div>
    

  </mat-drawer-content>

</mat-drawer-container>